.projects-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 4rem;
}

.projects-header {
  display: flex;
  margin: 1rem 2rem 0 2rem;
  justify-content: start;
}

.projects-title {
  text-align: center;
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: lighter;
  color: #fbfbf9;
}

.projects-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  margin: 0 1rem 0 3rem;
  padding: 0.3rem;
}

.projects-list-container {
  padding: 0.3rem;
  margin: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#projects-list {
  padding: 0.2rem;
  margin: 0.2rem;
  list-style-type: none;
}

.project-item {
  padding: 0.3rem 0;
  margin: 0.3rem 0;
}

.project-container {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.project-content {
  margin: 2px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-title {
  text-align: start;
  font-size: x-large;
  font-weight: normal;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fbfbf9;
}

.project-icon {
  width: 1.6rem;
  height: auto;
}

.project-description {
  text-align: justify;
  font-size: larger;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2.5rem;
  padding-right: 5rem;
  color: #fbfbf9;
  text-indent: 3%;
  line-height: 155%;
}

.project-icon {
  width: 2.5rem;
  padding: 0.2rem;
  margin: 0.2rem;
}

.project-languaje {
  padding: 0.2rem;
  margin: 0.2rem;
  text-align: justify;
  font-size: x-large;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #00bfff;
}

@media (min-width: 0px) and (max-width: 500px) {
  .projects-container {
    margin: 0.5rem;
  }
   
  .projects-header {
    margin: 1rem 0 0 1rem;
  }

  .project-description {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .projects-body {
    margin: 0 0.3rem;
    padding: 0.1rem;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .projects-header {
    margin: 1rem 0 0 1.5rem;
  }

  .project-description {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .projects-body {
    margin: 0 0.3rem;
    padding: 0.1rem;
  }
}
