.contact-container {
  background: rgb(61, 62, 66);
  display: flex;
  flex: 1;
  flex-direction: column;
}

.contact-header {
  margin-top: -20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.contact-header::after,
.contact-header::before {
  content: "";
  flex: 1 1 auto;
  border-bottom: solid 3px #00bfff;
}

.contact-title {
  padding: 0 1.3rem 0 1.3rem;
  flex: 0 1 auto;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: xx-large;
}

.contact-body {
  padding: 4px;
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-chips {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-chip {
  padding: 4px;
  margin: 2px;
}

.chip-container {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(73, 73, 73);
  border-radius: 5px;
}

.chip-content {
  padding: 4px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip-text {
  text-align: center;
  font-size: large;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: #00bfff;
}

.chip-link {
  text-decoration: none;
  text-decoration-line: none;
}
