.experience-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: rgb(61, 62, 66);
}

.experience-header {
}

.experience-title {
}

.experiece-body {
}

.experience-timeline {
}

.experience-timeline-2023 {
}

.experience-timeline-2024 {
}

.experience-description-container {
}

.experience-description {
}
