* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(49, 51, 59);
}

.container {
  width: 100%;
  max-height: fit-content;
}

.footer {
  margin-top: 24px;
}

.white-icon {
  width: 1.6rem;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(259deg)
    brightness(103%) contrast(103%);
}

.icon {
  width: 2.5rem;
  padding: 0.2rem;
  margin: 0.2rem;
}
