---
import Main from '../components/Main.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Daniel Zabala Portfolio - Contáctame"
  description="Página de contacto"
>
  <Main>
    <SectionContainer
      id="contact"
      class="flex flex-col items-center justify-center gap-4 py-6 sm:py-24"
    >
      <form
        action="https://api.web3forms.com/submit"
        method="POST"
        class="w-full sm:w-[640px]"
      >
        <input
          type="hidden"
          name="access_key"
          value="31cca80d-b686-4bc7-86eb-27f203a1cecf"
        />
        <div class="mb-6">
          <label
            for="name"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Tu Nombre</label
          >
          <input
            type="text"
            id="name"
            name="name"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
            placeholder="Elon Musk"
            required
          />
        </div>

        <div class="mb-6">
          <label
            for="email"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Tu email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
            placeholder="name@company.com"
            required
          />
        </div>
        <div class="mb-6">
          <label
            for="subject"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Asunto</label
          >
          <input
            type="text"
            id="subject"
            name="subject"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
            placeholder="Dime en qué te puedo ayudar"
            required
          />
        </div>
        <div class="mb-6">
          <label
            for="message"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Tu mensaje</label
          >
          <textarea
            id="message"
            name="message"
            rows="4"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
            placeholder="Tu mensage..."></textarea>
        </div>
        <button
          type="submit"
          class="mb-2 block w-full rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >Enviar mensaje</button
        >
      </form>
      <p class="text-sm text-gray-500 dark:text-gray-400">
        <a href="#" class="hover:underline">danielzabalanava@gmail.com</a>
      </p>
      <p class="text-sm text-gray-500 dark:text-gray-400">
        <a href="#" class="hover:underline">+58 424-694-5447</a>
      </p>
    </SectionContainer>
  </Main>
</Layout>
