---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import About from '../components/about/About.astro';
import Experience from '../components/experience/Experience.astro';
import Main from '../components/Main.astro';
---

<Layout
  title="Portfolio de Daniel Zabala - Desarrollador y Programador Móvil y Backend"
  description="Contrata a Daniel Zabala para crear tu applicacion web o móvil"
>
  <Main>
    <SectionContainer id="about" class="pt-12 pb-6 sm:pt-24 sm:pb-12">
      <About />
    </SectionContainer>

    <SectionContainer id="experience" class="pt-6 pb-12 sm:pt-12 sm:pb-24">
      <Experience />
    </SectionContainer>
  </Main>
</Layout>
