<header
  class="mx-auto flex w-full items-center justify-center px-2 py-3 sm:px-0 xl:w-[1120px]"
>
  <nav
    class="flex flex-col items-center justify-evenly gap-y-2 sm:flex-row sm:justify-center sm:gap-x-4"
  >
    <a href="/portfolio">Inicio</a>
    <a href="/portfolio/#about">Sobre mí</a>
    <a href="/portfolio/#experience">Experiencia</a>
    <a href="/portfolio/projects">Proyectos</a>
    <a href="/portfolio/contact">Contacto</a>
  </nav>
</header>
