---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/portfolio/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="flex min-h-screen w-screen flex-col bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  @media (max-width: 370px) {
    html {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  @media (min-width: 640px) {
    html {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  @media (min-width: 768px) {
    html {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
</style>
